<% layout('layouts/boilerplate.ejs') %>
    <div class="container justify-content-center align-items-center mt-4 mb-3">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSN7DTg_r5UOAvqQ0LCh69VpDomSRGWVZMbLg&usqp=CAU"
                        alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Login</h5>
                        <form action="/login" method="post" class="needs-validation" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" name="username" id="username"
                                    placeholder="username" autofocus required>
                                <div class="valid-feedback">
                                    <span>looks good!</span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" name="password" id="password"
                                    placeholder="password" required>
                                <div class="valid-feedback">
                                    <span>looks good!</span>
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="btn btn-success">Login</button>
                            </div>
                        </form>
                        <div class="mt-3">
                            <a href="/forgot">Forgot Password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>